.control-panel{
    border: 1px solid black;
}

.container{
    margin-left: auto; 
    margin-right: auto; 
    width:900px; 
    font-family: 'Arial';
}

.entry{
    border:1px solid black; 
    border-radius:5px; 
    clear: both; 
    padding: 5px 5px 5px 5px; 
    min-height: 30px; 
    margin-bottom: 1px; 
    background-color: MintCream;
}

.word{
    border: 1px solid; 
    border-radius: 10px; 
    float: left; 
    padding:5px 5px 5px 5px; 
    margin-right: 5px; 
    background-color: LawnGreen;
}

.description{
    border: 0px; 
    padding: 0px 0px 0px 0px; 
    margin: 0px 0px 0px 0px; 
    background-color: MintCream;
}

.word-input{
    border: 0px; 
    float:left; 
    margin-right:5px;  
    padding: 0px 0px 0px 0px; 
    background-color: LawnGreen;
}