body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-messages {
    color: red;
}

#welcome {
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    top: 150px;
    height: 200px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
}

#sign-in {
    float: left;
    width: 466px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    top: 150px;
    height: 150px;
    padding: 5px 5px 5px 5px;
}

#register {
    float: right;
    width: 466px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    top: 150px;
    height: 150px;
    padding: 5px 5px 5px 5px;
}