<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <!-- Meta -->
    <title>Blog</title>
    <meta charset="utf-8" />
    <meta author="David Voong" />
    
    <!-- Styles -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dino-fitness/styles.css' %}" />
    
    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Scripts -->
    <link rel="stylesheet" href="{% static 'dino-fitness/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'dino-fitness/blog.css' %}" />
    <script src="{% static 'dino-fitness/javascript.js' %}"></script>
    <script src="{% static 'dino-fitness/blog.js' %}"></script>
  </head>

  <body>
    <h1>Blog</h1>
  </body>

</html>
