<button onclick="myFunction()">
  Test
</button>

{% if True %}
<a href="sign-up-and-log-in">
  <button>
    Log in
  </button>
</a>
<a href="sign-up-and-log-in">
  <button>
    Sign up
  </button>
</a>
{% else %}
    Logged in as David
    <button>
      Log out
    </button>
{% endif %}

<form action="add-entry" method="POST">
  {% csrf_token %}
  Word:<br>
  <input type="text" name="word">
  <br>
  Description:<br>
  <input type="text" name="description">
  <br>
  <input type="submit" value="Add Word">
</form>

<h1> Other Users </h1>
{% if users %}
<ul>
  {% for user in users %}
  <li> 
    <a href="users/{{ user }}"> 
      {{ user }} 
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
No other users.
{% endif %}

<form action="/" style="display:inline">
  <input type="text" name="sort-field" value="word" style="display:none;">
  <input type="submit" value="Sort Alphabetically">
</form>  

<form action="/" style="display:inline">
  <input type="text" name="sort-field" value="-entry_date" style="display:none;">
  <input type="submit" value="Sort by Entry Date">
</form>

<form action="/" style="display:inline">
  <input type="text" name="sort-field" value="skill_rating" style="display:none;">
  <input type="submit" value="Sort by Progress">
</form>

<form action="/" style="display:inline">
  <input type="text" name="sort-field" value="-popularity_rating" style="display:none;">
  <input type="submit" value="Sort by Popularity">
</form>

<form action="/" style="margin-bottom:1px">
  <input type="text" name="tag">
  <input type="submit" value="Filter by Tag">
</form>

<form action="/">
  <input type="text" name="keyword">
  <input type="submit" value="Search">
</form>

{% if words %}
    <ul>
      {% for word in words %}
      <div style="border:1px solid white; margin-top:20px; margin-bottom:3px;">
      {% if word.popularity_rating == 0%}
          {% load staticfiles %}
          <div id="vote-{{ word.id }}" style="width:38px; float:left;">
	    <a href="javaScript:void(0);"onclick="myFunction2(1, {{ word.id }})">
	      <img src="{% static "vocab/up-arrow.png" %}"/>
	    </a>
	    <img src="{% static "vocab/blob.png" %}" style="margin-left: 12px; margin-right: auto;"/>
	    <a href="javaScript:void(0);"onclick="myFunction2(-1, {{ word.id }})">
	      <img src="{% static "vocab/down-arrow.png" %}"/>
	    </a>
	  </div>
      {% elif word.popularity_rating > 0 %}
          <div id="vote-{{ word.id }}" style="width:38px; float:left;">
	    <a href="javaScript:void(0);" onclick="myFunction2(0, {{ word.id }})">
              <img src="{% static "vocab/up-arrow2.png" %}"/>
	    </a>
	  </div>
      {% else %}
          <div id="vote-{{ word.id }}" style="width:38px; float:left;">
	    <a href="javaScript:void(0);" onclick="myFunction2(0, {{ word.id }})">
              <img src="{% static "vocab/down-arrow2.png" %}"/>
	    </a>
	  </div>
      {% endif %}
      <li style="margin-left: 15px; margin-top:30px; margin-bottom:auto; display: inline;">
	<b>{{ word.word }}</b>: <span class="description" id="{{ word.id }}"> {{ word.brief_description }} </span>
	<br>
	{% for key, tag_list in tags.items %}
	{% if key == word and tag_list %}
	<p style="display: inline; margin-left: 15px;"> Tags: </p>
	<ul style="display: inline;">
	  {% for tag in tag_list %}
	  <li style="display: inline;">
	    <form action="/" style="margin-bottom:1px" style="display:inline">
	      <input type="text" name="tag" value="{{ tag.name }}" style="display:none">
	      <input type="submit" value="{{ tag.name }}" style="display:inline; background-color: LightBlue;">
	    </form>
	  </li>
	  {% endfor %}
	</ul>
	{% endif %}
	{% endfor %}
	<br>
	<div style="clear:both">
	</div>
	<form action="remove-entry", method="POST" style="display: inline;"> 
	  {% csrf_token %}
	  <input type="text" name="id", value="{{ word.id }}" style="display: none;">
	  <input type="submit" value="Remove">
	</form>
	
	<!-- <button type="button" onclick="document.getElementById({{ word.id }}).style.visibility = 'visible';">Show</button> -->
	<form action="edit-entry/{{ word.id }}" style="display: inline;">
	  <input type="submit" value="Edit">
	</form>

	<form action="../comment/{{ word.id }}" style="margin-bottom: 1px">
	  <input type="text", name="content">
	  <input type="submit" value="Submit Comment"> 
	</form>

	<form action="add-tag/{{ word.id }}">
	  <input type="text", name="tag">
	  <input type="submit", value="Add Tag">
	</form>
	
      </li>
      {% for key, comment_list in comments.items %}
      {% if key == word %}
      {% for comment in comment_list %}
      <p>
      	{{ comment.author }}, {{ comment.entry_date }}: {{ comment.content }}
      </p>
      {% endfor %}
      {% endif %}
      {% endfor %}
      </div>

{% endfor %}
    </ul>
{% else %}
    <p>No words are available.</p>
{% endif %}

<script>
  function myFunction(){
  console.log("Test SUCCESSFULL");
  }
</script>

<script>
  function myFunction2(vote_type, id){
  // This is the client-side script
  
  // Initialize the Ajax request
  var xhr = new XMLHttpRequest();
  if(vote_type == 1)
  xhr.open('get', 'upvote/' + id.toString());
  else if(vote_type == -1)
  xhr.open('get', 'downvote/' + id.toString());
  else
  xhr.open('get', 'middlevote/' + id.toString());
  
  // Track the state changes of the request
  xhr.onreadystatechange = function(){
  // Ready state 4 means the request is done
  if(xhr.readyState === 4){
  // 200 is a successful return
  if(xhr.status === 200){
  vote_div = document.getElementById("vote-" + id.toString());
  vote_div.innerHTML = "";
  if(vote_type == 1)
  {
  var up_vote = document.createElement("a");
  up_vote.setAttribute("href", "javaScript:void(0)");
  up_vote.setAttribute("onclick", "myFunction2(0, " + id.toString() + ");");
  var new_image = document.createElement("img");
  new_image.setAttribute("src", "{% static "vocab/up-arrow2.png" %}");
  up_vote.appendChild(new_image);
  vote_div.appendChild(up_vote);
  }
  else if(vote_type == -1)
  {
  var down_vote = document.createElement("a");
  down_vote.setAttribute("href", "javaScript:void(0)");
  down_vote.setAttribute("onclick", "myFunction2(0, " + id.toString() + ");");
  var new_image = document.createElement("img");
  new_image.setAttribute("src", "{% static "vocab/down-arrow2.png" %}");
  down_vote.appendChild(new_image);
  vote_div.appendChild(down_vote);
  }
  else
  {
  var up_vote = document.createElement("a");
  up_vote.setAttribute("href", "javaScript:void(0)");
  up_vote.setAttribute("onclick", "myFunction2(1, " + id.toString() + ");");
  var up_arrow = document.createElement("img");
  up_arrow.setAttribute("src", "{% static "vocab/up-arrow.png" %}");
  up_vote.appendChild(up_arrow);
  vote_div.appendChild(up_vote);
  mid_blob = document.createElement("img");
  mid_blob.setAttribute("src", "{% static "vocab/blob.png" %}");
  mid_blob.setAttribute("style", "margin-left: 12px; margin-right: auto;");
  vote_div.appendChild(mid_blob);
  var down_vote = document.createElement("a");
  down_vote.setAttribute("href", "javaScript:void(0)");
  down_vote.setAttribute("onclick", "myFunction2(-1, " + id.toString() + ");");
  var down_arrow = document.createElement("img");
  down_arrow.setAttribute("src", "{% static "vocab/down-arrow.png" %}");
  down_vote.appendChild(down_arrow);
  vote_div.appendChild(down_vote);
  }
  //alert(xhr.responseText); // 'This is the returned text.'
  }else{
  alert('Error: '+xhr.status); // An error occurred during the request
  }
  }
  }
  
  // Send the request to send-ajax-data.php
  xhr.send(null);
  }
</script>
