<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vocab/styles.css' %}">
  </head>
  
  <body>
    <!-- Login and Sign up -->
    <div class="user-panel" style="margin-bottom: 20px;">
      {% if user and not user.is_anonymous %}
      Logged in as {{ user }}
      <a href="logout">
	<button>
	  Log Out
	</button>
      </a>
      {% else %}
      <form action="sign-up" method="POST"> {% csrf_token %}
	<fieldset>
	  <legend>
	    New User:
	  </legend>
	  User Name:
	  <input type="text" name="new-username">
	  Password:
	  <input type="password" name="new-password">
	  <input type="submit" value="Submit">
	</fieldset>
      </form>
      <form action="login" method="POST"> {% csrf_token %}
	<fieldset>
	  <legend>
	    Existing User:
	  </legend>
	  User Name:
	  <input type="text" name="username">
	  Password:
	  <input type="password" name="password">
	  <input type="submit" value="Log in">
	</fieldset>
      </form>
      {% endif %}
    </div>

    <div class="entry-container">
      {% if user and not user.is_anonymous %}
      
      <!-- Words -->
      {% for word in words %}
      <div class="entry" id="entry-{{ word.id }}" model-id="{{ word.id }}">
	<div class="vote" id="vote-{{ word.id }}" style="display:none">
    	  {{ word.popularity_rating }}
	</div>
	<div class="word" id="word-{{ word.id }}">
    	  {{ word.word }}
	</div>
	<div class="description" id="description-{{ word.id }}">
    	  {{ word.brief_description }}
	</div>
	{% if word.tags|length %}
	<hr style="margin-top: 4px; margin-bottom: 4px"/>
	<div class="tags" id="tags-{{ word.id }}">
	  <div class="tag" style="background-color: white">
	    Tags
	  </div>
    	  {% for tag in word.tags %}
	  <div class="tag" id="tags-{{ word.id }}-{{ tag }}">
    	    {{ tag }}
	  </div>
    	  {% endfor %}
	  <!-- <img class="add-tag-icon" width="15px" src="/static/vocab/add_tag_icon.png" style="" /> <\!-- display: inline-block; height: 100%; vertical-align: middle;"/> -\-> -->
	</div>
	{% endif %}
	<div class="entry-date" id="entry-date-{{ word.id }}" style="display:none">
    	  {{ word.entry_date }}
	</div>
	<div class="progress" id="progress-{{ word.id }}" style="display:none">
    	  {{ word.skill_rating }}
	</div>
      </div>
      {% endfor %}
      
      {% endif %}
      
      </div> <!-- entry-container -->
    
    {% load staticfiles %}
    <script src="{% static "vocab/index.js" %}"></script>
    
  </body>
</html>

