<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vocab/user_index/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vocab/user_index/main_section/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vocab/user_index/side_section/search_and_filter.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  </head>
  
  <body>
    <header>
      <a href="/vocab/sign-out">
	<button>
	  Sign Out
	</button>
      </a>
      <a href="/vocab">
	<button>
	  Home
	</button>
      </a>
    </header>
    
    <aside id="main-side-section">
      <section class="side-section" id="notebooks">
	Notebooks
	<hr />
	<!--   <ul> -->
	<!--     <li> All </li> -->
	<!--     <li> Vocab </li> -->
	<!--     <li> Python </li> -->
	<!--     <li> Mathematics </li> -->
	<!--   </ul> -->
      </section> 
      <section class="side-section" id="friends">
	Friends
	<hr />
      </section>
      <section class="side-section" id="trending">
	Trending
	<hr />
	<ul>
	  <li> Capital Cities </li>
	  <li> Brain Anatomy </li>
	  <li> Latin Words </li>
	  <li> CSS Styles </li>
	</ul>
      </section>
      <section class="side-section" id="word-of-the-day">
	Word of the Day!
	<hr />
	<div class="word">
	  Intransigence
	</div>
	<div class="description">
	  Refusing to compromise or agree
	</div>
      </section>
    </aside>
    
    <section id="main-section">
    </section>
    
    <footer>
    </footer>
    
    <!-- {% load staticfiles %} -->
    <script src="{% static "vocab/user_index/user_index.js" %}"></script>
    <script src="{% static "vocab/user_index/main_section/main_section.js" %}"></script>
    <script src="{% static "vocab/user_index/main_section/comments.js" %}"></script>
    <script src="{% static "vocab/user_index/side_section/side_section.js" %}"></script>
    <script src="{% static "vocab/user_index/side_section/notebooks.js" %}"></script>
    <script src="{% static "vocab/user_index/side_section/search_and_filter.js" %}"></script>
    <script src="{% static "vocab/user_index/side_section/friends.js" %}"></script>
    <!-- <script src="{% static "vocab/user_index/search_and_filter.js" %}"></script> -->
    
  </body>
</html>

